<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="position: relative;">
                    <img src="/img/{{ site.logo }}.png"  alt="{{site.title}}" style="position: absolute;top: 0;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Cursos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- NUMBER(11) -->
    <header style="background-image: url(/img/header-bg-courses-iv.jpg)">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Buzeto Tech</div>
                <div class="intro-heading">Cursos</div>
                <a href="#services" class="page-scroll btn btn-xl">Vamos lá</a>
            </div>
        </div>
    </header>

